In [1]:
x1 = 5

In [2]:
type(x1)

int

In [3]:
x2 = True

In [4]:
type(x2)

bool

In [5]:
x3 = "John"
print(x3)

John

In [6]:
y = 10
print(str(y) + " Naira")

10 Naira

In [7]:
float(16 / 3)

5.333333333333333

In [9]:
def five(x):
    x = 5
    return x
    print(five(3))

In [10]:
False and False

False

In [11]:
False and True

False

In [12]:
False or False

False

In [13]:
True or False

True

In [14]:
False or True

True

In [15]:
True or True

True

Conditional Statement

In [17]:
if 5 == 15/3:
    print('God is good')

Else statement

In [19]:
x = 1

if x > 3:
    print('Case 1')
else:
    print('Case 2')

Case 2

Elseif statement

In [23]:
def compare_to_five(y):
    if y > 5:
        return 'Greater'
    elif y < 0:
        return 'Negative'
    elif y < 5:
        return 'Less'
    else:
        return 'Equal'

In [26]:
print(compare_to_five(-10))

Negative

In [25]:
print(compare_to_five(2))

Less

Else Statement

In [27]:
x = 2

if x > 4:
    print("Correct")
else:
    print("Incorrect")

Incorrect

Defining a function in Python

In [28]:
def simple():
    print("My first function")

In [31]:
simple()

My first function

In [32]:
def plus_ten(a):
    return a + 10

In [33]:
plus_ten(2)

12

In [36]:
def plus_ten(a):
    result = a + 10
    print("Outcome:")
    return result

In [37]:
plus_ten(19)

Outcome

29

Using a function within a function

In [42]:
def wage(w_hours):
    return w_hours * 25
# With Bonus indication
def with_bonus(w_hours):
    return wage(w_hours) + 50

In [46]:
with_bonus(5)

175

Combining conditional statement and functions

In [50]:
def add_10(m):
    if m >= 100:
        m = m + 10
        return m
    else:
        return "Save me!"

In [51]:
add_10(99)

'Save me!'

In [52]:
add_10(200)

210

Creating a function with few argument

In [62]:
def subtract(a,b,c):
    result = a * b + c
    print("Parameter a equals: ", a)
    print("Parameter b equals: ", b)
    print("Parameter c equals: ", c)
    return result

In [63]:
subtract(5,7,9)

Parameter a equals:  5
Parameter b equals:  7
Parameter c equals:  9

44

Lists

In [64]:
participants = ['David', 'Andrew', 'Samuel', 'John']

participants

['David', 'Andrew', 'Samuel', 'John']

In [66]:
print (participants)

['David', 'Andrew', 'Samuel', 'John']

In [68]:
print (participants[3])

John

In [70]:
participants[3] = 'Maria'

In [71]:
print (participants)

['David', 'Andrew', 'Samuel', 'Maria']

In [72]:
del participants[3]

In [76]:
print (participants)

['David', 'Andrew', 'Samuel']

In [77]:
participants.append('Simon')

In [78]:
print (participants)

['David', 'Andrew', 'Samuel', 'Simon']

In [79]:
participants.extend(['Stephen', 'Barmus'])

In [81]:
print ("The first participant is " + participants[0] + ".")

The first participant is David.

In [82]:
len(participants)

6

In [83]:
newcomers = ['Segun', 'Anna']

In [84]:
bigger_list = [participants, newcomers]

In [85]:
print (bigger_list)

[['David', 'Andrew', 'Samuel', 'Simon', 'Stephen', 'Barmus'], ['Segun', 'Anna']]

In [86]:
len(bigger_list)

2

In [91]:
bigger_list.sort()
bigger_list

[['David', 'Andrew', 'Samuel', 'Simon', 'Stephen', 'Barmus'],
 ['Segun', 'Anna']]

Tuples

In [93]:
(age, year_of_school) = "30,17".split(',')
print (age)
print (year_of_school)

30
17

In [94]:
def square_root(x):
    A = x ** 2
    P = x * 4
    print("Area and parimeter: ")
    return A, P

In [95]:
square_root(8)

Area and parimeter:

(64, 32)

In [96]:
dict = {'k1': "cat", 'k2': "dog", 'k3': "lion", 'k4': "mouse"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'lion', 'k4': 'mouse'}

In [98]:
dict['k1']

'cat'

In [99]:
dict ['k5'] = "parrot"

In [101]:
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'lion', 'k4': 'mouse', 'k5': 'parrot'}

Tuple in a dictionary

In [105]:
dep_worker = {'dep_1': "Andrew", 'dep_2': ['Jennifer', 'Micheal', 'David']}

In [107]:
dep_worker['dep_2']

['Jennifer', 'Micheal', 'David']

for loops statement

In [112]:
even = [0,2,4,6,8,10,12,14,16,18,20]

In [114]:
for n in even:
    print(n, end = " ")

0 2 4 6 8 10 12 14 16 18 20

while loops and incremention

In [115]:
x = 0
while x <= 20:
    print(x, end = " ")
    x = x + 2

0 2 4 6 8 10 12 14 16 18 20

In [116]:
x = 0
while x <= 20:
    print(x, end = " ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

Creating list with range() function

In [117]:
range(10)

range(0, 10)

In [118]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [119]:
range(3, 9)

range(3, 9)

In [120]:
list(range(3,9))

[3, 4, 5, 6, 7, 8]

In [123]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Using conditional staetment and loop toggle

In [125]:
for n in range(10):
    print(n, end = " ")

0 1 2 3 4 5 6 7 8 9

In [127]:
for n in range(10):
    print(2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [126]:
for x in range(20):
    if x % 2 == 0:
        print (x, end = " ")
    else:
        print("Odd", end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [128]:
x = [0, 1, 2]

In [129]:
for item in x:
    print(item, end = " ")

0 1 2

In [131]:
for item in range(len(x)):
    print (x[item], end = " ")

0 1 2

Conditional statement, function and loops

In [132]:
def count(numbers):
    total = 0
    for x in numbers:
        if x < 20:
            total += 1
    return total

In [136]:
list_1 = [1,3,5,9,21,34,54,92]

In [137]:
count(list_1)

4

Iterating over dictionaires

In [151]:
prices = {
    "box of spaghetti" : 4, 
     "lasagna" : 5,
     "hamburger": 2
}

quantity = {
    "box of spaghetti" : 6, 
     "lasagna" : 9,
     "hamburger": 0
}

money_spent = 0

for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
    
print ("The money spend on the purchase of the items is:", money_spent, "dollars")

The money spend on the purchase of the items is: 69 dollars